<nav>
  <div class="max-content-centered inner-container">
    <div class="left-side">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <span class="logo">
        <a href="/">
          <span> ReadReady </span>
        </a>
      </span>
    </div>
    <div class="menu-container">
      <ul class="menu">
        <% if (user) {%>
        <!-- <li>
          <a href="/">
            <span> Home </span>
          </a>
        </li> -->
        <li>
          <a href="/dashboard">
            <span> Dashboard </span>
          </a>
        </li>
        <!-- <li>
          <a href="/opened-book">
            <span> Opened Book </span>
          </a>
        </li> -->
        <li>
          <a href="/library">
            <span> Library </span>
          </a>
        </li>
        <li>
          <a href="/account-details">
            <span> Account </span>
          </a>
        </li>
        <% } %> <% if (user) { %>
        <li class="login-container">
          <a href="/logout"><span class="login"> LOGOUT </span> </a>
        </li>
        <% } else { %>
        <li class="login-container">
          <a href="/auth/google">
            <span class="login">
              <span>LOG IN</span><img src="https://i.imgur.com/FHjYyi0.png" />
            </span>
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
