<%- include('./partials/header.ejs') %>

<!-- <main> -->
<div class="home-page">
  <section>
    <div class="bg-image-container top-left">
      <img
        src="/images/books/closed-tilted-book.png"
        alt="Stacked books illustration"
      />
    </div>
    <div class="content">
      <h1><%= title %></h1>
      <!-- <div> -->
      <a href="/auth/google">
        <span class="home-link-button link-button"> Log In with Google </span>
      </a>
      <!-- </div> -->
    </div>
    <div class="bg-image-container bottom-right">
      <img
        src="/images/books/multi-stacked-books.png"
        alt="Stacked books illustration"
      />
    </div>
  </section>
</div>
<!-- </main> -->

<%- include('./partials/footer.ejs') %>
