/* Breakpoints */

/*

sm: 640px
md: 768px
lg: 1024
xl: 1280px
2xl: 1536px

*/

@font-face {
  font-family: 'Gloock Regular';
  src: url('/fonts/gloock_ff/Gloock-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('/fonts/montserrat_ff/Montserrat-Regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('/fonts/montserrat_ff/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

:root {
  /* Typography/Fonts */

  --globalFf: 'Montserrat Regular', Arial, Helvetica, sans-serif;
  --sectionHeadingFf: 'Montserrat SemiBold', Arial, Helvetica, sans-serif;
  --mainHeadingFf: 'Gloock Regular', 'Times New Roman', Times, serif;

  /* Colors */

  --lightBlack: #3c4144;
  --midBlack: #232a2c;
  --darkBlack: #0b1215;
  --offwhite: #f9f9f9;
  --brightGreen: #35ff8b;
  --lightGrayBlue: #f1f2f7;
  --midGrayBlue: #8b9cc4;
  --darkGrayBlue: #2a2f3d;

  /* Widths, Heights */
  --maxWidthContent: 1400px;
  --headerHeight: 50px;
}

/* Base Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--lightBlack);
  font-family: var(--globalFf);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--headerHeight);
  background-color: var(--darkGrayBlue);
  z-index: 1;
}

main {
  position: relative;
  padding-top: var(--headerHeight);
  padding-bottom: 80px;
}

a {
  color: var(--lightBlack);
  text-decoration: none;
}

p {
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-indent: 0;
}

button,
input[type='submit'],
.link-button {
  display: inline-block;
  margin: 0;
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-family: var(--globalFf);
  color: var(--lightBlack);
  background-color: white;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border: none;
}

input[type='submit'] {
  border: 1px solid var(--midBlack);
}

h1 {
  color: var(--darkBlack);
  font-family: var(--mainHeadingFf);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sectionHeadingFf);
}

/* Utility Styles  */

.max-content-centered {
  max-width: var(--maxWidthContent);
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
